Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-Cors
pandas
psycopg2-binary
python-dotenv
marshmallow
gunicorn ; sys_platform != 'win32'
waitress ; sys_platform == 'win32'
pytest
pytest-flask
pytest-cov
werkzeug
